.center{
  color:blue;
  text-align:center;
  margin:10px;
    font-weight: bold;
}

#quote{
  height:150px;
  width:550px;
  border:1px solid green;
 border-radius:10px;
  margin:10px auto;
  padding:20px 10px; 
  background:orange;
  overflow:auto;
  font-size:1.5em;
  float: none;
 }

#button1{
  margin:20px 50px;
  padding:10px 20px; 
  display: block;
  position: relative;
  float: right;
  
}

#tweetQuote{
    padding:10px 20px; 
    margin:20px 50px;
  display: block;
    position: relative;
    float: left;
}

.tweetbutton{
    width: 550px;
    margin:10px auto;
  }
