.center{
  color:blue;
  text-align:center;
  margin:10px;
}

#quote{
  height:150px;
  width:550px;
  border:1px solid green;
 border-radius:10px;
  margin:10px auto;
  padding:20px 10px; 
  background:orange;
  overflow:auto;
  font-size:1.5em;
 }

#button1{
  margin:20px 50px;
  padding:10px 20px; 
  
}

#tweetQuote{
    padding:10px 20px; 
    margin:20px 50px;
}

.tweetbutton{
    width: 550px;
    margin:10px auto;
    padding:0px 60px;
}